python-dotenv
groq
AppOpener
pywhatkit
beautifulsoup4
Pillow
rich
requests
keyboard
cohere
googlesearch-python
edge-tts
whisper
sounddevice
scipy
numpy
SpeechRecognition
pyaudio
duckduckgo-search
wikipedia
PyQt6